POSTGRES_USER=testuser
POSTGRES_PASSWORD=testpassword
POSTGRES_DB=test_db
PG_MAX_CONNECTIONS=4000
PG_SHARED_BUFFERS=2GB
PG_WORK_MEM=128MB
PG_MAINTENANCE_WORK_MEM=512MB
PG_EFFECTIVE_CACHE_SIZE=4GB
PG_RANDOM_PAGE_COST=1.1
PG_WAL_LEVEL=logical
PG_STATEMENT_TIMEOUT=0
PG_IDLE_TRANSACTION_TIMEOUT=0
PG_LOCK_TIMEOUT=0
PG_WAL_WRITER_DELAY=300ms
PG_CHECKPOINT_TIMEOUT=30min
PG_WAL_BUFFERS=16MB